<div class="jumbotron">
  <img src="../../../assets/imagem-pro-site.jpg" class="img-fluid" width="100%" height="auto"/>
  <p class="lead">
    Desenvolvemos sistemas que atendem as demandas de mercado
    proporcionando ao nosso cliente maior aproveitamento de
    recursos da Internet para a divulgação de seu negócio e melhor
    gestão interna com sistemas internos.
  </p>
  
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Criação de Software</h2>
    <p>
      Desenvolvimento de softwares para diversos nichos de negócio utilizando modernas tecnologia e metodologias ágeis de desenvolvimento.
    </p>
    <p><a href="https://lucastecnologiaservices.com.br/services" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Infraestrutura in Cloud</h2>
    <p>Infraestrutura robusta que permite a escalabilidade horizintal e vertical de todos os serviços utilizados como hospedagem e manuteção de sistemas, serviços de e-mail, totalmente incorporados em datacenters próprios da microsoft.</p>
    <p><a href="https://lucastecnologiaservices.com.br/services" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Hospedagem de Sites/Lojas Virtuais</h2>
    <p>Hospede o seu site com segurança em uma infraestrutura sólida. Você terá o site da sua empresa hospedado nos maiores datacenters do mundo com redundância, isto é, o seu site nunca está fora do ar!!.</p>
    <p><a href="https://lucastecnologiaservices.com.br/services" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
  </div>
</div>
